
.testimonial-card{
   background: var(--color-bg-variant);
   border-radius: 2rem;
   padding: 2rem;
   user-select: none;
   text-align: center;
}

.client-avatar{
    width: 4rem;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 0.4rem solid var(--color-primary-variant);
}

.client-name{
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.testimonial-card .client-review{
    color: var(--color-light);
    font-weight: 300;
    margin: 0.8rem auto 0;
    line-height: 1.5;
    margin-bottom: 2rem;
}

@media screen and (max-width:1024px) {
    .testimonial-card .client-review{
        margin-bottom: 0.5rem;
    }
 }
 
 @media screen and (max-width:600px) {
    .testimonial-card .client-review{
        margin-bottom: 0.2rem;
    }
     
 }